# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# load CSV file

df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

# Define a dictionary mapping old column names to new ones
column_names = {
    'GENDER': 'Gender',
    'ST': 'State'
}

# Rename the columns
df1 = df1.rename(columns=column_names)
df2 = df2.rename(columns=column_names)

In [2]:
# Combine the three datasets
merged_df = pd.concat([df1, df2, df3])

In [4]:
# Apply the cleaning function to the new combined dataset

cleaned = merged_df.fillna(0)

In [7]:
cleaned.sample(10)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
6336,JF32940,Oregon,F,Bachelor,15663.65604,31789.0,130.0,0,Personal Auto,SUV,316.418786
2562,0,0,0,0,0,0.0,0.0,0,0,0,0.000000
3514,0,0,0,0,0,0.0,0.0,0,0,0,0.000000
3223,JQ68425,California,M,College,12919.41828,58236.0,108.0,0,Corporate Auto,SUV,67.253453
4619,ZN71189,Oregon,F,Doctor,4014.453113,37384.0,99.0,0,Personal Auto,Four-Door Car,475.200000
1501,0,0,0,0,0,0.0,0.0,0,0,0,0.000000
2130,0,0,0,0,0,0.0,0.0,0,0,0,0.000000
5572,EB34435,Arizona,M,High School or Below,2996.139865,0.0,82.0,0,Corporate Auto,Four-Door Car,590.400000
761,VQ76590,Arizona,M,Bachelor,16473.16905,22828.0,106.0,0,Personal Auto,SUV,508.800000
1660,0,0,0,0,0,0.0,0.0,0,0,0,0.000000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [8]:
import pandas as pd

# Load the data
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [9]:
# Display the first few rows of the dataframe
print(df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [10]:
# Check the dataframe for missing values
print(df.isnull().sum())

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [11]:
# Check the data types of the columns
print(df.dtypes)

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [13]:
# Create a pivot table showing the total revenue for each sales channel
pivot = df.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')

# Round the total revenue to 2 decimal points
pivot = pivot.round(2)

# Print the pivot table
print(pivot)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [14]:
# Create a pivot table showing the average customer lifetime value per gender and education level
pivot = df.pivot_table(values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')

# Print the pivot table
print(pivot)

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [16]:
# Group by policy type and month and count the number of complaints
summary = df.groupby(['policy_type', 'month'])['number_of_open_complaints'].count().reset_index()

# Print the summary table
print(summary)

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                       1252
1  Corporate Auto      2                       1089
2   Personal Auto      1                       4329
3   Personal Auto      2                       3799
4    Special Auto      1                        237
5    Special Auto      2                        204